/* variables */
:root{
    --bg-color:rgb(31, 28, 34);
    --text-color: rgb(210, 210, 210);
}

/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color) ;
}

header{
    background-color: rgba(128, 128, 128, 0.268);
    left: 0;
    top: 0;
    width: calc(100% - 90%);
    height: 100vh;
    position: fixed;
    padding: 2em;
}

main{
    margin-left: 22vw;
    max-width: 55vw;
}

aside{
    z-index: -10;
    right: 0;
    top: 0;
    height: auto;
    padding-top: 8em;
    margin-left: 80vw;
    position: fixed;
    max-width: 20vw;
    background-color: rgba(49, 46, 46, 0.434);
    padding: 4em;
}
/* Arribion Adverticement */
.navigation-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em;
    height: 3em;
    gap: 4em;
    color: white;
    background-color: dodgerblue;
    display: flex;
    justify-content: flex-end;

}

.profile{
    display: flex;
    justify-content: space-around;
    gap: 1em;
}


.profile-options{
    /* development */
    display: none;

    position: absolute;
    width: auto;
    height: auto;
    background-color: white;
    color: black;
    padding: 4em;
    margin-top: 2em;
    border-radius: 20px 0px;
}



/* main-content */
.welcome-section{
    display: flex;
}
.Dashboard-welcome-container{
    height: ;
    width: 55vw;
    background-color: white;
    border-radius: 10px;
    margin-top: 8em;
    padding: 4em;
    color: black;
}

/* Stats-section */
.main-stats-chats{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 3em;

}

.stats-card{
    border-radius: 10px;
    padding: 3em;
    color: darkcyan;
    width: auto;
    height: 5em;
    background-color: white;
    margin: 2em 0em 2em 0em;
}


/* Graphical section */
.stat-chat{
    margin-top: 4em;
}